:root {
  --primary-color: #205375;
  --accent-color: #6a1b9a;
  --background-color: #ffffff;
  --text-color: #333333;
  --neutral: #f4f4f4;
  --font-heading: "Playfair Display", serif;
  --font-body: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-body);
  color: var(--text-color);
  background-color: var(--background-color);
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
  color: var(--primary-color);
}
header,
main,
footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}
a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
header {
  text-align: center;
  padding: 1rem 0;
  font-size: 1.2rem;
}
section {
  margin-bottom: 2rem;
}
section h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
section p,
section li {
  line-height: 1.6;
  font-size: 1.2rem;
}
ul {
  margin-left: 1rem;
}
section .domainname {
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: underline;
}
footer p {
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
  color: #4a4a4a;
  font-size: 0.8rem;
}
