:root {
  /* Primary */
  --deep-green: #006400;
  --gold: #daa520;
  --charcoal: #333333;

  /* Accents */
  --ivory: #f8f8f0;
  --muted-terracotta: #cc6b5a;
  --navy: #1a237e;

  /* Background */
  --sand: #f4efea;
  --soft-green: #e5f2e0;

  /* Fonts */
  --playfair: "Playfair", serif;
  --inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--sand);
  font-family: var(--inter);
  color: var(--charcoal);
}
h1,
h2,
h3 {
  font-family: var(--playfair);
  margin: 0;
}
header {
  background-color: var(--soft-green);
}
header > div {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .logo img {
  width: 4rem;
  height: auto;
}
header .logo span {
  font-family: var(--playfair);
  font-size: 1.5rem;
  color: var(--deep-green);
}
header .logo p {
  font-size: 0.8rem;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  flex: 1 1 0;
}
header nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--navy);
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
header nav a:hover {
  background-color: rgba(0, 10, 20, 0.15);
}
header button {
  background-color: inherit;
  border: none;
  display: none;
  cursor: pointer;
  padding: 1rem;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* Home Page */
main .hero-home {
  position: relative;
}
main .hero-home::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
}
main .hero-home img {
  width: 100%;
  height: auto;
}
main .hero-home h1 {
  color: var(--gold);
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  text-align: center;
  width: 100%;
}
main .hero-home a {
  position: absolute;
  text-decoration: none;
  text-align: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 1rem;
  background-color: var(--deep-green);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  z-index: 10;
}

/* Directory Page */
main .hero {
  position: relative;
}
main .hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
main .hero img {
  width: 100%;
  height: auto;
}
main .hero h1 {
  position: absolute;
  padding: 1rem;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--gold);
  font-size: 5rem;
  text-align: center;
  z-index: 1;
}
main .home {
  padding: 1rem;
}
main .home h1 {
  font-size: 3rem;
  margin: 2rem 0;
}
main .home .grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr 1fr;
}
main .home .grid > div {
  background-color: #ffffff;
  padding-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
main .home .grid div h2 {
  background-color: var(--deep-green);
  color: #ffffff;
  font-size: 2rem;
  padding: 1rem;
}
main .home .grid div img {
  width: 90%;
  display: block;
  height: auto;
  margin: 0 auto;
}
main .home .grid ul {
  list-style-type: none;
  margin: 1rem 1rem 0;
  line-height: 20px;
}
main .home #forecastList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .businesses {
  padding: 1rem;
}
main .businesses h1 {
  font-size: 3rem;
  margin: 2rem 0;
}
main .businesses .btn button {
  padding: 0.5rem 1rem;
  background-color: var(--navy);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  margin-bottom: 2rem;
}
main .businesses .card {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
main .businesses .card section {
  background-color: #ffffff;
  padding-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
main .businesses .card h2 {
  color: #ffffff;
  background-color: var(--deep-green);
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}
main .businesses .card img {
  width: 90%;
  display: block;
  height: auto;
  margin: 0 auto;
}
main .businesses .card p {
  padding: 0 1rem;
  margin-top: 0.8rem;
  font-weight: 600;
}
main .businesses .card span {
  display: block;
  padding: 0 1rem;
  margin-top: 0.8rem;
  font-weight: 500;
}
main .businesses .card span::before {
  content: "📍";
  margin-right: 0.5rem;
}
main .businesses .list section {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
}
main .businesses .list section::before {
  content: "📍";
}
main .businesses .list img {
  display: none;
}

/* Join Us Page */
main.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
main form {
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
main form h1 {
  text-align: center;
}
main form input,
main form textarea,
main form select {
  display: block;
  width: 100%;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  font-size: 1.1rem;
  transition: border-color 0.3s ease;
}
main form input:focus,
main form textarea:focus,
main form select:focus {
  border-color: var(--gold);
}
main form label {
  display: block;
  margin-top: 1rem;
}
main form label span {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
}
main form input[type="submit"] {
  background-color: var(--navy);
  color: #ffffff;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
main .membershipLevel div {
  background-color: var(--ivory);
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: fadeIn 0.5s ease both;
  animation-delay: calc(0.2s * var(--i));
}
main .membershipLevel h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
main .membershipLevel button {
  background-color: var(--gold);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  border: 1px solid var(--charcoal);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
main .membershipLevel button:hover {
  background-color: #b8860b;
}
main dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  overflow: hidden;
}
main dialog h2 {
  background-color: var(--navy);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
}
main dialog button {
  background-color: var(--soft-green);
  color: var(--charcoal);
  font-size: 1.5rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}
main dialog p {
  margin: 1rem;
}
main dialog h3 {
  font-size: 1.6rem;
  margin-left: 1rem;
}
main dialog ul {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Thank you page */
main.info {
  padding: 1rem;
}
main.info h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
}
main.info span {
  display: block;
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
}
main.info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
main.info p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem 1rem;
  background-color: var(--charcoal);
  color: #ffffff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 32rem) {
  header button {
    display: block;
  }
  header > div {
    position: relative;
  }
  header nav ul {
    position: absolute;
    background-color: var(--soft-green);
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    z-index: 10;
    transition: max-height 0.3s ease;
  }
  header nav ul.open {
    max-height: 300px;
  }
  main .hero h1,
  main .hero-home h1 {
    font-size: 3rem;
    padding: 0.5rem;
    z-index: 5;
  }
  main .hero-home a {
    padding: 0.5rem;
    top: 85%;
    font-size: 0.8rem;
    z-index: 5;
  }
  main .hero div {
    bottom: 1rem;
    right: 1rem;
  }
  main .home h1,
  main .businesses h1 {
    font-size: 2rem;
  }
  main .home .grid div h2,
  main .businesses section h2 {
    font-size: 1.5rem;
  }
  main .businesses .card {
    grid-template-columns: 1fr;
  }
  main .home .grid,
  main.main {
    grid-template-columns: 1fr;
  }
  main .businesses .list section {
    flex-direction: column;
  }
  main dialog h2 {
    font-size: 1.5rem;
  }
}
