:root {
  /* Primary */
  --deep-green: #006400;
  --gold: #daa520;
  --charcoal: #333333;

  /* Accents */
  --ivory: #f8f8f0;
  --muted-terracotta: #cc6b5a;
  --navy: #1a237e;

  /* Background */
  --sand: #f4efea;
  --soft-green: #e5f2e0;

  /* Fonts */
  --playfair: "Playfair", serif;
  --inter: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--sand);
  font-family: var(--inter);
  color: var(--charcoal);
}
h1,
h2,
h3 {
  font-family: var(--playfair);
  margin: 0;
}
header {
  background-color: var(--soft-green);
}
header > div {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .logo img {
  width: 4rem;
  height: auto;
}
header .logo span {
  font-family: var(--playfair);
  font-size: 1.5rem;
  color: var(--deep-green);
}
header .logo p {
  font-size: 0.8rem;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav ul li {
  flex: 1 1 0;
}
header nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--navy);
  font-weight: 500;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
header nav a:hover {
  background-color: rgba(0, 10, 20, 0.15);
}
header button {
  background-color: inherit;
  border: none;
  display: none;
  cursor: pointer;
  padding: 1rem;
}
main {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;
}

@media only screen and (max-width: 32rem) {
  header button {
    display: block;
  }
  header > div {
    position: relative;
  }
  header nav ul {
    position: absolute;
    background-color: var(--soft-green);
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    z-index: 10;
    transition: max-height 0.3s ease;
  }
  header nav ul.open {
    max-height: 300px;
  }
  main .hero h1,
  main .hero-home h1 {
    font-size: 3rem;
    padding: 0.5rem;
    z-index: 5;
  }

  main .hero div {
    bottom: 1rem;
    right: 1rem;
  }
  main .home h1,
  main .businesses h1 {
    font-size: 2rem;
  }
  main .home .grid div h2,
  main .businesses section h2 {
    font-size: 1.5rem;
  }
  main .businesses .card {
    grid-template-columns: 1fr;
  }
  main .home .grid,
  main.main {
    grid-template-columns: 1fr;
  }
  main .businesses .list section {
    flex-direction: column;
  }
  main dialog h2 {
    font-size: 1.5rem;
  }
}
