/* Join Us Page */
main.main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}
main form {
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
main form h1 {
  text-align: center;
}
main form input,
main form textarea,
main form select {
  display: block;
  width: 100%;
  outline: none;
  padding: 0.5rem 1rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  font-size: 1.1rem;
  transition: border-color 0.3s ease;
}
main form input:focus,
main form textarea:focus,
main form select:focus {
  border-color: var(--gold);
}
main form label {
  display: block;
  margin-top: 1rem;
}
main form label span {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
}
main form input[type="submit"] {
  background-color: var(--navy);
  color: #ffffff;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
main .membershipLevel div {
  background-color: var(--ivory);
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  animation: fadeIn 0.5s ease both;
  animation-delay: calc(0.2s * var(--i));
}
main .membershipLevel h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
main .membershipLevel button {
  background-color: var(--gold);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  border: 1px solid var(--charcoal);
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
main .membershipLevel button:hover {
  background-color: #b8860b;
}
main dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  overflow: hidden;
}
main dialog h2 {
  background-color: var(--navy);
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  font-size: 2rem;
}
main dialog button {
  background-color: var(--soft-green);
  color: var(--charcoal);
  font-size: 1.5rem;
  border: 1px solid var(--charcoal);
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}
main dialog p {
  margin: 1rem;
}
main dialog h3 {
  font-size: 1.6rem;
  margin-left: 1rem;
}
main dialog ul {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
