/* Thank you page */
main.info {
  padding: 1rem;
}
main.info h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 3rem;
}
main.info span {
  display: block;
  text-align: center;
  margin: 1rem 0;
  font-size: 1.2rem;
}
main.info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
main.info p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem 1rem;
  background-color: var(--charcoal);
  color: #ffffff;
}
