:root {
  --bg-color: #f9f9f9;
  --primary-text: #1e1e1e;
  --secondary-text: #4f4f4f;
  --accent-color: #004080;
  --highlight-color: #2e7d32;
  --border-color: #e0e0e0;
  --card-bg-color: #ffffff;
  --hover: #0059b3;

  --poppins: "Poppins", sans-serif;
  --roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-family: var(--roboto);
  color: var(--secondary-text);
}
h1,
h2 {
  font-family: var(--poppins);
  color: var(--primary-text);
}
header {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 1rem;
}
header button {
  display: none;
}
header div,
header nav,
main {
  max-width: 1140px;
  margin: 0 auto;
}
header div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header div img {
  height: 200px;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
header div span {
  font-weight: 700;
  font-size: 2.5rem;
}
header nav {
  margin-top: 1rem;
}
header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav li {
  flex: 1 1 0;
  width: 100%;
}
header nav a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #ffffff;
  display: block;
  width: 100%;
  padding: 1rem;
  text-align: center;
  transition: background-color 0.3s ease;
}
header nav a:hover {
  background-color: var(--hover);
}
main {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 3fr 2fr;
}
main h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 3rem;
  grid-column: span 2;
}
main section {
  border: 1px solid var(--border-color);
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}
main section h2 {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--accent-color);
  color: #ffffff;
  font-size: 1.75rem;
  text-align: center;
}
main .course ul {
  padding: 0 2rem 1rem;
  color: var(--secondary-text);
}
main .country figure {
  width: 80%;
  margin: 0 auto 1rem;
}
main .country figure img {
  width: 100%;
  height: auto;
}
main .country figcaption {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--secondary-text);
}
main .certificates {
  grid-column: span 2;
}
main .certificates .buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
main .certificates .buttons button {
  color: var(--secondary-text);
  background-color: var(--border-color);
  border: 1px solid var(--border-color);
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}
main .certificates .buttons button:not(.selected):hover {
  background-color: #cccccc;
}
main .certificates .buttons button.selected {
  background-color: var(--accent-color);
  color: #ffffff;
}
main .certificates #courses div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--secondary-text);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  border: 1px solid var(--border-color);
  margin: 1rem;
  border-radius: 10px;
}
main .certificates #courses div.completed {
  background-color: var(--highlight-color);
  color: #ffffff;
}
main .certificates #courses {
  padding: 0;
  background-color: transparent;
  border: none;
}
main .certificates > p {
  text-align: right;
  padding: 1rem;
  font-weight: 500;
  color: var(--secondary-text);
}
footer {
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  line-height: 2rem;
  font-size: 1rem;
}

@media only screen and (max-width: 35rem) {
  body {
    font-size: 14px;
  }
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  header button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
  }
  header nav {
    position: absolute;
    top: calc(100% - 1rem);
    right: 0;
    width: 100%;
  }
  header nav ul {
    overflow: hidden;
    background-color: var(--accent-color);
    flex-direction: column;
    max-height: 0;
    transition: max-height 0.3s ease;
  }
  header nav ul.open {
    max-height: 300px;
  }
  main {
    display: block;
  }
  main section {
    margin-bottom: 1rem;
  }
}
